/* line 1, /Users/jonathansteenbergen/vcs_prep/skeletor_material_design/app/assets/stylesheets/side_bar.scss */
#side-bar {
  position: fixed;
  top: 3em;
  left: 0;
  border: 1px solid #243742;
  box-shadow: inset 0 0 10px black, 0 0 10px black;
  width: 17%;
  height: 100vh;
  background-color: #304a5a;
}
/* line 10, /Users/jonathansteenbergen/vcs_prep/skeletor_material_design/app/assets/stylesheets/side_bar.scss */
#side-bar hr {
  margin-top: 0.5em;
  margin-bottom: 0;
}

/* line 16, /Users/jonathansteenbergen/vcs_prep/skeletor_material_design/app/assets/stylesheets/side_bar.scss */
#component-library {
  width: 100%;
  height: 80%;
  overflow: scroll;
}
