/* line 1, /Users/jonathansteenbergen/vcs_prep/skeletor_material_design/app/assets/stylesheets/signup_page.scss */
body {
  background-color: #F6F6F6;
  padding-bottom: 3em;
}
/* line 4, /Users/jonathansteenbergen/vcs_prep/skeletor_material_design/app/assets/stylesheets/signup_page.scss */
body #signup-page-container {
  background-color: white;
  border: 1px solid grey;
  padding: 5em 2em 5em 2em;
  font-size: 0.9em;
  line-height: 2em;
}
/* line 10, /Users/jonathansteenbergen/vcs_prep/skeletor_material_design/app/assets/stylesheets/signup_page.scss */
body #signup-page-container h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}
/* line 15, /Users/jonathansteenbergen/vcs_prep/skeletor_material_design/app/assets/stylesheets/signup_page.scss */
body #signup-page-container #submit-button-container {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}
/* line 19, /Users/jonathansteenbergen/vcs_prep/skeletor_material_design/app/assets/stylesheets/signup_page.scss */
body #signup-page-container #submit-button-container span {
  line-height: 1.8em;
}
/* line 23, /Users/jonathansteenbergen/vcs_prep/skeletor_material_design/app/assets/stylesheets/signup_page.scss */
body #signup-page-container #log-in-link {
  text-align: center;
}
