<div class='container'>
  Container
  <div class='row'>
    <div class='col-md-6'>
      Col-6
    </div>
    <div class='col-md-6'>
      Col-6
    </div>
    <div class='col-md-6'>
      Col-6 (overflow)
    </div>
    <div class='col-md-6'>
      Col-6
    </div>
    <div class='col-md-6'>
      Col-6 (overflow)
    </div>
    <div class='col-md-6'>
      Col-6
    </div>
    <div class='col-md-6'>
      Col-6 (overflow)
    </div>
    <div class='col-md-6'>
      Col-6
    </div>
  </div>
</div>
