<div class='container'>
  <p style='text-align: center'>Container</p> <span><button style='position: fixed; right: 50' type='button' class='btn btn-primary'>create a new project</button></span>
  <div class='row'>
    <h1 style='text-align: center'>Projects</h1>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6 (overflow)</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6 (overflow)</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6 (overflow)</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
  </div>
</div>
