<div class='container'>
  <p style='text-align: center'>Container</p>
  <div class='row'>
    <h1 style='text-align: center'>Projects</h1>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6 (overflow)</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6 (overflow)</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6 (overflow)</p>
    </div>
    <div class='col-md-6'>
      <p style='text-align: center'>Col-6</p>
    </div>
  </div>
</div>
