<component-toolbar class='component-toolbar'></component-toolbar>
<div class='container'>
  <!-- Map the data to 'params' so that it gets mapped to the 'params' property of $event. -->
  <create-project
  on-create='dashCtrl.addProject({params: params})'
  style='position: fixed; right: 20em; z-index: 1'>
  </create-project>

  <div class='row'>
    <div style='text-align: center' class="col-md-12">
      <h1>Projects</h1>
    </div>
  </div>

  <div class='row'>
    <project-card
    ng-repeat='project in dashCtrl.projectsData.cached'
    project='project'
    on-edit='dashCtrl.editProject({id: id})'
    class='col-md-4'></project-card>
  </div>
</div>
