<div class='panel panel-default' style='width: 300px; height: 400px'>
  <a ng-click='$ctrl.editProject($ctrl.project.id)'>
    <img class='img-fluid' src='http://mdbootstrap.com/images/reg/reg%20(2).jpg'>
  </a>

  <div class="panel-body">
    <!-- Whereas clicking on the title/description will allow you to edit them. -->
    <div style='cursor: pointer;' ng-click='$ctrl.open()'>
      <h4 class="panel-title">{{$ctrl.project.title}}</h4>
      <p>{{$ctrl.project.description}}</p>
    </div>
  </div>
</div>
