<div class='modal-content'>
  <h1 class='modal-header'>{{$ctrl.title}}</h1>
  <div class='modal-body'>
    <form ng-submit='$ctrl.ok($ctrl.project)'>
      <div class='form-group'>
        <div style="position:absolute;top:0px;right:0px;">
          <label>
            <i class="fa fa-upload fa-2x icon"></i><input id='projectPhoto' uploader='$ctrl.uploader' nv-file-select type='file' style="display: none;">
          </label><br>

          <button class='btn btn-success' type="button" ng-click="$ctrl.uploader.queue[0].upload()">Upload</button>

          <div class='progress'>
            <div class='progress-bar' ng-style="{'width': $ctrl.uploader.queue[0].progress + '%'}">
            </div>
          </div>
        </div>
      </div>

      <div class='form-group'>
        <label for='projectTitle'>Title</label><br>
        <input id='projectTitle' type='text' class='form-control' ng-model='$ctrl.project.title'>
      </div>

      <div class='form-group'>
        <label for='projectDescription'>Description</label><br>
        <textarea id='projectDescription' type='text' class='form-control' ng-model='$ctrl.project.description'></textarea>
      </div>

      <div class='form-group'>
        <input type='submit' class='btn btn-primary' value='Update Project'>
        <button class='btn btn-danger' ng-click='$ctrl.cancel()'>Cancel Changes</button>
      </div>

    </form>
  </div>
</div>
