<div class="container">
  TemplateId :: {{project.id}}
  <br>
  Template :: {{project.title}}
  <br>

  <div ui-view="sideBar"></div>

  <div class="row">
    <h1 style='text-align: center;'>Workspace</h1>
    <div class="col-md-12 panel" id="workspace">
      <row
        ng-repeat="row in rowData.rows"
        row="row">
      </row>
    </div>
  </div>

  <!-- <div id="side-bar">
    <h4 id="component-library-header">Components</h4>
    <hr>
    <div id="component-library" ng-scrollbars ng-scrollbars-config="config">
      <div ui-view="sideBar"></div>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-2" id="workspace">
    <row
        ng-repeat="row in rows()"
        row="row">
    </row>
  </div> -->

</div>
