<ul class="nav navbar-nav">
 <li class="nav-item" ng-click="saveProject($event)"><a href="#">Submit</a></li>
 <li class="nav-item" ng-click="publishProject($event)"><a href="">Publish</a></li>
 <li class="nav-item">
   <i class='fa fa-spin fa-cog fa-2x save-icon' style='display: none;'></i>
   <p class='save-success' style='display: none;'>Saved</p>
   <p class='publish-success' style='display: none;'>Published</p>
   <a class='repo-ready' href='{{response.repo.url}}' style='display: none;'>Gihub Repo</a>
 </li>
 <li class="nav-item">
   <a class='repo-ready' href='{{response.repo.preview}}' style='display: none;'>Preview</a>
 </li>
</ul>
