// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hovered {
  border: 2px solid orange;
  box-shadow: 0 0 10px #444;
}

component, component * {
  outline:none
}
