// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'variables';

body {
  padding-top: 5em;
}

#component-library-header {
  color: white;
  font-weight: bold;
  text-align: center;
}

.component-button {
  background-color: hsl(203, 31%, 20%);
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: 8%;
  width: 80%;
  border-radius: 3px;
  height: 4em;
  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 3px white, 0 0 3px white;
  }
  .component-button-header {
    color: white;
    text-align: center;
  }
}


#workspace {
  background-color: white;

  .highlight {
    border: 1px solid blue;
  }

  .row {
    // border: 1px solid red;
    min-height: 3em;
  }
  .selected-row {
    /* border: 1px solid green; */
    box-shadow: 0 0 10px green;
  }
  .draggable {
  }
  .drop-row {
    box-shadow: 0 0 10px red;
  }
  .sortable-placeholder {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
}
